--- Constantes du problèmes ---

- pousee max : Tmax = 
- efficacite moteur : beta = Isp*g0 =
- position terre dans repere tournant : mu = 
- position soleil dans repere tournant : muS = 
- distance du soleil au vaisseau : rS = 
- etat à l'instant initial (sur la sphère de Hill) : qH1 = 
                                                     qH2 =
                                                     qH3 =
                                                     qH4 = 
                                                     qH5 = 
                                                     qH6 = 

- etat à l'instant initial (sur la sphère de Hill) : qL21 = 
                                                     qL22 =
                                                     qL23 =
                                                     qL24 = 
                                                     qL25 = 
                                                     qL26 =

- anomalie initiale du Soleil : thetaS0 =
- vitesse angulaire du soleil : omegaS = 
- masse intiale : m0 = 



--- Initialisation des etats/paramètres d'opti/contrôles ---

- Initialisation de l'état : q11 =
                             q12 =
                             q13 =
                             q14 =
                             q15 = 
                             q16 =

- Initialisation des paramètres d'optimisation (durées des arcs) : dt1 = 
                                                                   dt2 =
                                                                   dt3 =
(ici c'est donc pour deux arcs contrôlés et un arcs balistique)

- Initialisation des controles sur chaque arc contrôlé : u11 =
                                                         u12 =
                                                         u13 =
                                                       
                                                         u31 =
                                                         u32 =
                                                         u33 =
